*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


a{
  color: black;
}
ul{
  list-style-type: none;
}

.menu{
  margin-left: 20px;
  display: block;
  cursor: pointer;
}
p{
  color: black;
}

/*-------categories--------*/
.container{
max-width: 1800px;
margin: auto;

}
.rows{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col{
  flex-basis: 50%;
  min-width: 300px;
}
.col img{
  max-width: 100%;
  padding: 50px 0;
}
.col h2{
  font-size: 50px;
  line-height: 75px;
  margin: 25px 0;
}
.header .rows{
  margin-top: 60px;
}
.col-categories{
  flex-basis: 30%;
  min-width: 300px;
  margin-bottom: 20px;

}
.col-categories img{
  width: 100%;
height:250px;

}
/*-------products--------*/
.small-container{
  max-width: 1100px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-products{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-products img{
  width:100%;
  height: 180px;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
}
.title::after{
  content: "";
  background: red;
  width:90px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);

}
.col-products p{
  font-size: 13px;
}
.col-products:hover{
  transform: translateY(-5px);
}
/*--------offers-------*/
.Offers{
  flex-basis: 50%;
  margin-top: 80px;
  padding: 25px;

}
.Offers .offer-img{
  padding:50px;

}
.offer-writing{
  width: 50%;
  align-items: right;

}
.box{
  float: left;
  width:48%;
  padding-right: 1%;
}
.box-bracelet{
  align-self: left;

}
/*----testimonials------*/
.testimonials{
  padding-top: 100px;
}
.testimonials .col-products{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  cursor:pointer;
  transition: transform 0.5s;
}
.testimonials .col-products img{
  width:50px;
  height:50px;
  margin-top: 20px;
  border-radius: 50%;
  transform: translateY(-5px);
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.fa.fa-star,.fa.fa-star-o{
  color:#ff523b;
}
.col-products h3{
  font-weight: 600px;
}

/*-------brands---------*/
.brands{
  margin: 100px auto;

}
.col-brands{
  width: 160px;

}
.col-brands img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-brands img:hover{
  filter: grayscale(0%);

}
/*-----footer------*/
.footer{

  background-color: black;
  color: white;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer h3{
  padding-bottom: 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3,.footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex-basis:1;
  text-align: center;
}
.footer-col-2 img{
  width:180px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}

.app-logo{
  margin-top: 20px;
  max-width: 150px;

}
.app-logo img{
  height: 50px;
  width:140px;
}
.menu{
  display: none;
}

/*---account page------*/
.account-page{
  padding: 50px 0;

}
.form-container{
  width:300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
overflow: hidden;
}
 .form-container span{
   font-weight: bold;
   padding: 0 10px;
   cursor:pointer;
   width:100px;
   display: inline-block;
 }
.form-btn{
  display: inline-block;

}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
 position: absolute;
  top: 130px;
  transition:transform 1.1s;

}
form input{
  width: 100%;
  height:30px;
  margin: 10px 0;
  padding: 0 10px;
  border:1px solid black;
}
form .btn{
  width:100%;
  border: none;
  cursor: pointer;
}
#loginform{
  left: -300px;

}
#regform{
  left: 0;
}
form a{
  font-size: 12px;
}
#indicator{
  width:100px;
  border:none;
  background:red;
  height:3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition:transform 1.1s;
}
/*------Prod page------*/
.row2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
select{
  border: 1px solid black;
  padding: 5px;
}
.page-btn{
  margin: 0 auto 80px;
}

.page-btn  span{
  display: inline-block;
  border: 1px solid black;
  margin-left: 10px;
  width:40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}


/*---media queries screen----*/
@media only screen and (max-width:800px) {
  nav ul{
   
    top: 120px;
    left: 0;

    width: 100%;
  }
}

nav ul li{
  display: block;
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 10px;
}
nav ul li a{
  color: white;

}

h2{
  padding-top:50px;
}

.footer{
  bottom:0;
}

@media only screen and (max-width:600px){
  .rows{
    text-align: center;
  }
  .col, .col-products, .col-categories, .col-brands, .footer-col-1, .footer-col-2,.footer-col-3,.footer-col-4  {
    flex-basis: 100%;
  }
}
